.navbar {
  display: flex;
  text-align: center;
  background: $color-accent;
  width: 100%;
  flex-flow: row nowrap;
  position: fixed;
  top: 0;
  z-index: 2;

  ul {
    margin: 0;
    flex: 0 1 auto;
    display: flex;

    li {
      list-style: none;
      margin: 0;
      display: flex;
      align-items: center;

      a {
        padding: 1em;
        color: $color-background;
        text-decoration: none;

        &:hover {
          background: lighten(#272727, 10);
        }
      }
    }
  }

  h1 {
    color: $color-background;
    flex: 1;
    margin: auto 230px auto auto;
    user-select: none;
  }
}
