.game-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .status, button {
    position: fixed;
    left: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 300px;
    height: 60px;

    &.player { background: $color-good }
    &.enemy { background: $color-bad }
  }

  button {
    background-color: $color-main;
    border: 0;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    background-position: center;
    transition: background 300ms ease-in-out;

    // Ripped this CSS for the material "bubble" effect
    &:hover {
      background: lighten($color-main, 5) radial-gradient(circle, transparent 1%, lighten($color-main, 5) 1%) center/15000%;
    }

    &:active {
      background-color: lighten($color-main, 15);
      background-size: 100%;
      transition: background 0s;
    }

    &:active, &:focus {
      outline: none;
    }
  }

  .game-area {
    padding: 2%;
    height: 75%;
    background: $color-main;
    margin: 0 25%;
    flex: 1 0 auto;
    transition: all 100ms ease-in-out;

    &.grid {
      display: grid;
      grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    }

    &.flex {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 5rem;
    }

    .grid-item {
      cursor: not-allowed;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;
      font-size: 6em;
      font-weight: bold;
      border: 1px solid $color-background;
      transition: all 75ms ease-in-out;
      user-select: none;
      background: darken($color-main, 10);

      &:nth-child(1) { border-top: none; border-left: none; }
      &:nth-child(2) { border-top: none }
      &:nth-child(3) { border-top: none; border-right: none; }
      &:nth-child(4) { border-left: none }
      &:nth-child(6) { border-right: none }
      &:nth-child(7) { border-left: none; border-bottom: none; }
      &:nth-child(8) { border-bottom: none }
      &:nth-child(9) { border-bottom: none; border-right: none; }
      &.player-victory { background: $color-good !important }
      &.enemy-victory { background: $color-bad !important }
    }

    .player-turn {
      cursor: pointer;
      background: $color-main !important;

      &:hover {
        background: lighten($color-main, 10)
      }

      &:active {
        background: lighten($color-main, 15);
        transform: rotateX(10deg);
      }
    }
  }
}
