<div class="game-wrapper">
  <div class="status player">
    Your turn
  </div>
  <div class="game-area grid">
    {{#each model.initialGameState as |row index|}}
      <BoardTile @value={{row}} @tileID={{index}}/>
    {{/each}}
  </div>
</div>